@charset "utf-8";

/* header*/
header{background-image: url(../images/back.jpg);
border-bottom: 1px solid #333;
}
header > h1{text-align: center;}
header > h1 > a > img{
  width: 200px; height: 25px;
  margin: 10px auto;
}

.fa-user, .fa-bars{
    font-size: 30px;
    color: #fff;
    
}

.fa-bars{
  float: left;
  padding: 10px 0px 0px 10px;
}
.fa-user{
  float: right;
  padding: 10px 10px 0px 0px;
}

