@charset "utf-8";

a{text-decoration: none;
color: #222;}
/* main */

.m_gnb{width: 96%;
  margin: 10px auto;
}

.m_gnb > ul{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  width: 30px; height: 30px;
}
.banner{  
  width: 310px !important;
  height: 330px !important;
  grid-area: 1/1/3/3;}

.m_gnb img{width: 150px; height: 150px;}
.m_gnb > ul > li{
  text-align: center;
}
